<html>
<head>
	
	<!-- jquery files -->
	<!--<link type="text/css" href="http://jqueryui.com/latest/themes/base/ui.all.css" rel="stylesheet" />
	<script type="text/javascript" src="http://jqueryui.com/latest/jquery-1.3.2.js"></script>
	<script type="text/javascript" src="http://jqueryui.com/latest/ui/ui.core.js"></script>
	<script type="text/javascript" src="http://jqueryui.com/latest/ui/ui.draggable.js"></script>
	<script type="text/javascript" src="http://jqueryui.com/latest/ui/ui.resizable.js"></script>
	<script type="text/javascript" src="http://jqueryui.com/latest/ui/ui.dialog.js"></script>
	<script type="text/javascript" src="http://jqueryui.com/latest/ui/ui.tabs.js"></script>-->

    <link type="text/css" href="{{ mediaRoot }}lib/jquery-ui-1.7.2/themes/base/ui.all.css" rel="stylesheet" />
    <script type="text/javascript" src="{{ mediaRoot }}lib/jquery-1.3.2.js"></script>
    <script type="text/javascript" src="{{ mediaRoot }}lib/jquery-ui-1.7.2/ui/ui.core.js"></script>
	<script type="text/javascript" src="{{ mediaRoot }}lib/jquery-ui-1.7.2/ui/ui.draggable.js"></script>
	<script type="text/javascript" src="{{ mediaRoot }}lib/jquery-ui-1.7.2/ui/ui.resizable.js"></script>
	<script type="text/javascript" src="{{ mediaRoot }}lib/jquery-ui-1.7.2/ui/ui.dialog.js"></script>
	<script type="text/javascript" src="{{ mediaRoot }}lib/jquery-ui-1.7.2/ui/ui.tabs.js"></script>

	<link rel="stylesheet" type="text/css" media="screen,projection" href="{{ mediaRoot }}css/IDE_Deployer.css" />

	<!-- from EzWeb -->
	<script type="text/javascript" src="{{ mediaRoot }}lib/EzWebAPI_ext.js"></script>

	<!-- modules -->
	<script type="text/javascript" src="{{ mediaRoot }}lib/json2.js"></script>
    <script type="text/javascript" src="{{ mediaRoot }}lib/aim.js"></script>
    <script type="text/javascript" src="{{ mediaRoot }}OperationalEnvironment/userManager.js"></script>
	<script type="text/javascript" src="{{ mediaRoot }}OperationalEnvironment/logger.js"></script>
    <script type="text/javascript" src="{{ mediaRoot }}Deployer/deployer.js"></script>
    <script type="text/javascript" src="{{ mediaRoot }}ImageManager/imageManager.js"></script>
	<script type="text/javascript" src="{{ mediaRoot }}Editor/edit_area/edit_area_full.js"></script>
	<script type="text/javascript" src="{{ mediaRoot }}Editor/file.js"></script>
    <script type="text/javascript" src="{{ mediaRoot }}Editor/miscFile.js"></script>
    <script type="text/javascript" src="{{ mediaRoot }}Editor/imageFile.js"></script>
	<script type="text/javascript" src="{{ mediaRoot }}Editor/codeFile.js"></script>
	<script type="text/javascript" src="{{ mediaRoot }}Editor/templateFile.js"></script>
	<script type="text/javascript" src="{{ mediaRoot }}Editor/directoryFile.js"></script>
	<script type="text/javascript" src="{{ mediaRoot }}Editor/projectFile.js"></script>
	<script type="text/javascript" src="{{ mediaRoot }}Editor/projectManager.js"></script>
	<script type="text/javascript" src="{{ mediaRoot }}Editor/editManager.js"></script>
	<script type="text/javascript" src="{{ mediaRoot }}Editor/codeManager.js"></script>
    <script type="text/javascript" src="{{ mediaRoot }}Editor/dirManager.js"></script>
    <script type="text/javascript" src="{{ mediaRoot }}Editor/miscManager.js"></script>
	<script type="text/javascript" src="{{ mediaRoot }}Editor/templateManager.js"></script>
	<script type="text/javascript" src="{{ mediaRoot }}Editor/templateEditor.js"></script>	

	<script type="text/javascript">
		function init() {
            var deplr = deployer.getInstance();
            deplr.init();
            var imager = imageManager.getInstance();
            imager.init();
			var pManager = projectManager.getInstance();
			pManager.init("projectsList");
            userManager.getInstance().init();
			logger.getInstance().init("logPanel");
			$("#tabSection").tabs();
			$("#tabSection").tabs('disable',1);
		}
	</script>
	
	
	<title>EzWeb IDE & Deployer</title>
	
</head>
<body onload="init()">
	<div id="banner">
        <img id="logo" alt="IDE de gadgets de EzWeb" src="{{ mediaRoot }}images/logoIDE.png"/>
        <div id="logPanel">
            <img id="logImage" title="" src="" alt=""/>
            <div id="logMessage"></div>
            <div id="bCloseLog" title="Click to close the log panel">Close</div>
        </div>
        <div id="userPanel">
            User: <span id="usernameSpan">{{ username }}</span> | <a href="./logout/">Logout</a>
        </div>
    </div>
	<div id="mainPanel">
		<div id="desktop">
			<div id="projectsSection">
                <div id="projectsTitle">Available projects</div>
                <div id="projectsList"></div>
                <a id="bCreateProject" title="Click to create a new project">Create new project</a>
            </div>
			<div id="workbench">
				<div id="tabSection">
				<ul>
					<li><a href="#editorLayer"><span class="workbenchTab">Code editor</span></a></li>
					<li><a href="#templateLayer"><span class="workbenchTab">Template wizard</span></a></li>
					<li><a id="deployerTab" href="#deployerLayer"><span class="workbenchTab">Deployer</span></a></li>
					<li><a id="imageTab" href="#imageLayer"><span class="workbenchTab">Images</span></a></li>
				</ul>
				<div id="editorLayer" class="workbenchLayer">
                    <textarea id="editAreaEditor" style="height: 100%; width: 100%;"></textarea>
                    <p id="infoEditor">There is no file selected to be edited. Click on the name of a file to begin start editing it.</p>
                </div>
				<div id="templateLayer" class="workbenchLayer">
					<div class="templateSection">
						<div class="templateSectionHeader">
							<a id="descriptionHeader">Description</a>
						</div>
						<div class="templateSectionWizard">
                            <table class="descriptionTable">
                                <tbody>
                                    <tr>
                                        <td><span id="labelDescriptionVendor">Vendor: </span></td>
                                        <td><input id="inputDescriptionVendor"></input></td>
                                        <td><span id="labelDescriptionAuthor">Author: </span></td>
                                        <td><input id="inputDescriptionAuthor"></input></td>
                                    </tr>
                                    <tr>
                                        <td><span id="labelDescriptionName">Name: </span></td>
                                        <td><input id="inputDescriptionName"></input></td>
                                        <td><span id="labelDescriptionMail">Mail: </span></td>
                                        <td><input id="inputDescriptionMail"></input></td>
                                    </tr>
                                    <tr>
                                        <td><span id="labelDescriptionVersion">Version: </span></td>
                                        <td><input id="inputDescriptionVersion"></input></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><span id="labelDescriptionImage">Image:</span></td>
                                        <td colspan="3"><input id="inputDescriptionImage"></input></td>
                                    </tr>
                                    <tr>
                                        <td colspan="4"><div id="tipImage" class="infoTip"></div></td>
                                    </tr>
                                    <tr>
                                        <td><span id="labelDescriptionWiki">Wiki:</span></td>
                                        <td colspan="3"><input id="inputDescriptionWiki"></input></td>
                                    </tr>
                                    <tr>
                                        <td><span id="labelDescriptionDesc">Description:</span></td>
                                        <td colspan="3"><input id="inputDescriptionDesc"></input></td>
                                    </tr>
                                </tbody>
                            </table>
						</div>
					</div>
					<div class="templateSection">
						<div class="templateSectionHeader" name="on">
							<a id="preferencesHeader">Preferences</a>
						</div>
						<div class="templateSectionWizard">
							<table id="preferencesVars" class="varTable">
								<thead>
									<tr>
										<th>Name</th>
										<th>Type</th>
										<th>Label</th>
										<th>Description</th>
										<th>Default</th>
										<th>Edit</th>
                                        <th>Remove</th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
							<div id="newPreferences" class="newVarSection">
                                <div class="newVarTitle">Add a new preference</div>
                                <div class="newVarContent">
								    <span id="labelPreferencesName">Name: </span>
								    <input id="inputPreferencesName" class="templateCommonInput"/>
								    <span id="labelPreferencesType">Type: </span>
								    <select id="inputPreferencesType">
									    <option>text</option>
									    <option>number</option>
									    <option>date</option>
									    <option>boolean</option>
									    <option>list</option>
									    <option>select</option>
								    </select>
								    <span id="labelPreferencesLabel">Label: </span>
								    <input id="inputPreferencesLabel" class="templateCommonInput"/>
								    <span id="labelPreferencesDesc">Description: </span>
								    <input id="inputPreferencesDesc" class="templateCommonInput"/>
								    <span id="labelPreferencesDefault">Default: </span>
								    <input id="inputPreferencesDefault" class="templateCommonInput"/>
								    <img id="addPreference" class="operationalButton tAddButton" alt="Add" title="Add preference" src="{{ mediaRoot }}images/add.png"/>
								    <div id="preferencesOptionsDiv">
									    <table id="preferencesOptions" class="varTable">
										    <thead>
											    <tr>
												    <th>Value</th>
												    <th>Name</th>
												    <th>Edit</th>
                                                    <th>Remove</th>
											    </tr>
										    </thead>
										    <tbody></tbody>
									    </table>
									    <span id="labelOptionValue">Value: </span>
									    <input id="inputOptionValue" class="templateCommonInput"/>
									    <span id="labelOptionName">Name: </span>
									    <input id="inputOptionName" class="templateCommonInput"/>
									    <img id="addOption" class="operationalButton tAddButton" alt="Add" title="Add preference" src="{{ mediaRoot }}images/add.png"/>
								    </div>
                                </div>
							</div>						
						</div>
					</div>
					<div class="templateSection">
						<div class="templateSectionHeader" name="on">
							<a id="propertiesHeader">Properties</a>
						</div>
						<div class="templateSectionWizard">
							<table id="propertiesVars" class="varTable">
								<thead>
									<tr>
										<th>Name</th>
										<th>Type</th>
										<th>Label</th>
										<th>Description</th>
										<th>Default</th>
										<th>Edit</th>
                                        <th>Remove</th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
							<div id="newProperties" class="newVarSection">
                                <div class="newVarTitle">Add a new property</div>
                                <div class="newVarContent">
								    <span id="labelPropertiesName">Name: </span>
								    <input id="inputPropertiesName" class="templateCommonInput"/>
								    <span id="labelPropertiesType">Type: </span>
								    <select id="inputPropertiesType">
									    <option>text</option>
									    <option>number</option>
									    <option>date</option>
									    <option>boolean</option>
								    </select>
								    <span id="labelPropertiesLabel">Label: </span>
								    <input id="inputPropertiesLabel" class="templateCommonInput"/>
								    <span id="labelPropertiesDescription">Description: </span>
								    <input id="inputPropertiesDescription" class="templateCommonInput"/>
								    <span id="labelPropertiesDefault">Default : </span>
								    <input id="inputPropertiesDefault" class="templateCommonInput"/>
								    <img id="addProperty" class="operationalButton tAddButton" alt="Add" title="Add property" src="{{ mediaRoot }}images/add.png"/>
                                </div>
							</div>
						</div>
					</div>
					<div class="templateSection">
						<div class="templateSectionHeader" name="on">
							<a id="wiringHeader">Wiring variables</a>
						</div>
						<div class="templateSectionWizard">
							<table id="wiringVars" class="varTable">
								<thead>
									<tr>
										<th>Variable type</th>
										<th>Name</th>
										<th>Type</th>
										<th>Label</th>
										<th>Friendcode</th>
										<th>Edit</th>
                                        <th>Remove</th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
							<div id="newWiring" class="newVarSection">
                                <div class="newVarTitle">Add a new wiring variable</div>
                                <div class="newVarContent">
								    <span id="labelWiringVar">Variable type: </span>
								    <select id="inputWiringVar">
									    <option>event</option>
									    <option>slot</option>
								    </select>
								    <span id="labelWiringName">Name: </span>
								    <input id="inputWiringName" class="templateCommonInput"/>
								    <span id="labelWiringType">Type: </span>
								    <select id="inputWiringType">
									    <option>text</option>
									    <option>number</option>
									    <option>date</option>
									    <option>boolean</option>
								    </select>
								    <span id="labelWiringLabel">Label: </span>
								    <input id="inputWiringLabel" class="templateCommonInput"/>
								    <span id="labelWiringFriendcode">Friendcode: </span>
								    <input id="inputWiringFriendcode" class="templateCommonInput"/>
								    <img id="addWiring" class="operationalButton tAddButton" alt="Add" title="Add wiring var" src="{{ mediaRoot }}images/add.png"/>
							    </div>
                            </div>
						</div>
					</div>
					<div class="templateSection">
						<div class="templateSectionHeader" name="on">
							<a id="contextHeader">Context variables</a>
						</div>
						<div class="templateSectionWizard">
							<table id="contextVars" class="varTable">
								<thead>
									<tr>
										<th>Variable type</th>
										<th>Name</th>
										<th>Type</th>
										<th>Concept</th>
										<th>Edit</th>
                                        <th>Remove</th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
							<div id="newContext" class="newVarSection">
                                <div class="newVarTitle">Add a new context</div>
                                <div class="newVarContent">
                                    <span id="labelContexVar">Variable type: </span>
								    <select id="inputContextClass">
									    <option>Context</option>
									    <option>GadgetContext</option>
								    </select>
								    <span id="labelContextName">Name: </span>
								    <input id="inputContextName" class="templateCommonInput"/>
								    <span id="labelContextType">Type: </span>
								    <select id="inputContextType">
									    <option>text</option>
									    <option>number</option>
									    <option>date</option>
									    <option>boolean</option>
								    </select>
								    <span id="labelContextConcept">Concept: </span>
								    <select id="inputContextConcept">
									    <option>user_name</option>
									    <option>language</option>
									    <option>heightInPixels</option>
									    <option>widthInPixels</option>
									    <option>lockStatus</option>
									    <option>orientation</option>
									    <option>xPosition</option>
									    <option>yPosition</option>
									    <option>height</option>
									    <option>width</option>
								    </select>
								    <img id="addContext" class="operationalButton tAddButton" alt="Add" title="Add context var" src="{{ mediaRoot }}images/add.png"/>
							</div>
                            </div>
						</div>
					</div>
					<div class="templateSection">
						<div class="templateSectionHeader" name="on">
							<a id="renderingHeader">Rendering</a>
						</div>
						<div class="templateSectionWizard">
							<span id="labelHeight">Height: </span>
							<input id="inputHeight" class="templateSizeInput"/>
							<span id="labelWidth">Width: </span>
							<input id="inputWidth" class="templateSizeInput"/>
						</div>
					</div>
					<div class="templateSection">
						<div class="templateSectionHeader" name="on">
							<a id="linkHeader">Code</a>
						</div>
						<div class="templateSectionWizard">
							<span id="labelLink">URI of the main file of the gadget: </span>
							<input id="inputLink" class="templateCodeInput"/><br/>
                            <div id="tipHTMLURL" class="infoTip">URI of the main file of the gadget: </div>
						</div>
					</div>
					<div id="templateButtons">
						<button id="clearTemplate" class="templateButton">Clear all</button>
						<button id="saveTemplate" class="templateButton">Save template</button>
						<button id="closeTemplate" class="templateButton">Close wizard</button>
					</div>
				</div>
				<div id="deployerLayer" class="workbenchLayer">
                    <div>
                        <table id="deploySelectContainer">
                            <tr>
                                <td>URL of the EzWeb platform: </td>
                                <td><input id="EzWebURL"type="text" ></td>
                            </tr>
                            <tr id="deploySelectProject">
                                <td><label>Select a project: </label></td>
                                <td><select></select></td>
                            </tr>
                            <tr id="deploySelectTemplate">
                                <td><label>Select a template: </label></td>
                                <td><select></select></td>
                            </tr>
                        </table>
                        <div id="bDeployGadget">Deploy gadget!</div>
                    </div><br/><br/><br/><br/><br/><br/><br/><br/>
                    <div>
                        <fieldset id="deployerLogContainer">
                            <legend>My EzWeb Platform</legend>
                            <div id="deployLogger">
                                <img id="oEzWebLogo" src="{{ mediaRoot }}images/Open_Ez_Logo.png" title="EzWeb Logo" alt="EzWeb Logo"/>
                            </div>
                        </fieldset>
                    </div>
                </div>
				<div id="imageLayer" class="workbenchLayer">
                    <div id="imgSelectorContainer">
                        <label>Select a project</label>
                        <select></select>
                    </div><br/><br/>
                    <div id="mainImageContainer">
                        <div id="imageViewerTitle" class="imageSectionTitle">Image viewer</div>
                        <div id="mainImage"></div>
                        <div id="imageColumn">
                            <fieldset>
                                <legend>Image properties</legend>
                                <p><span class="imgPropertyName">Name: </span><span id="mainImageName"></span></p>
                                <p><span class="imgPropertyName">Path: </span><span id="mainImagePath"></span></p>
                                <p><span class="imgPropertyName">Height: </span><span id="mainImageWidth"></span></p>
                                <p><span class="imgPropertyName">Width: </span><span id="mainImageHeight"></span></p>
                            </fieldset>
                        </div>
                    </div>
                    <div id="imageGalleryContainer">
                        <div id="galleryTitle" class="imageSectionTitle">Images of the project</div>
                        <div id="imageGallery"></div>
                    </div>
                </div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
