body {
	position: relative;
	color: #000000;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	margin: 0;
	overflow: visible;
	padding: 0;
	width: 100%;
}

/* Elements of the banner */
#banner {
	background: #349ee8;
	color: white;
	text-align: left;
	height: 45px;
	border-bottom: 2px groove black;
}

#banner img {
	margin-left: 1%;
    float: left;
}

/*-- elements of the logger interface */
#logPanel {
    float: left;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	padding: 3px 0 3px 5px;
	margin: 10px 5px 0 0;
	font-weight: bold;
	font-size: 12px;
	color: #ff6600;
	border:1px solid #ff6600;
    width: 500px;
}

#logPanel div {
    float:left;
}

.logImage {
	padding-right: 5px;
	float: left;
}

#logMessage {
    width: 385px;
    margin: 0 10px;
    text-align: center;
}

#logPanel.infoLog {
	background-color: #c6e9af;
}

#logPanel.warningLog {
	background-color: #ffeeaa;
}

#logPanel.errorLog {
	background-color: #e9afaf;
}

#bCloseLog  {
	color:#2D6F9C;
	cursor: pointer;
	text-decoration: underline;
	font-size: 12px;
	padding: 1px 20px;
}

#bCloseLog:hover {
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	background-color: #ffffe0;
	font-weight: bold;
	padding: 1px 10px;
	margin: 0px 10px;
}

#userPanel {
    float: right;
    font-size: 14px;
    margin: 5px 10px 0 0;
}

/* Elements of the main panel */
#mainPanel {
	border: 1px solid #000000;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	text-align: center;
	background-color: #E0E0E0;
	margin: 5px;
    padding: 0.5%;
	height: 91.5%;
	background-attachment: scroll;
	background-image: url(../images/init.dat);
	background-position: center bottom;
	background-repeat: no-repeat;
	min-width: 800px;
	min-height: 600px;
}

/*-- elements of the left menu of projects */
#projectsSection {
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    float: left;
	background: #97A0A8 none repeat scroll 0 0;
	border: 1px solid black;
	padding: 2px;
	width: 24%;
	height: 99%;
	min-width: 120px;
	min-height: 400px;
}

#projectsTitle {
	font-size: 14px;
	font-weight: bold;
	color: white;
	text-align: center;
    padding-top: 1.5%;
    height: 3.5%;
}

#projectsList {
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	background:#F7F7F7 none repeat scroll 0 0;
	font-size: 12px;
	color: black;
	margin: 3px 2px;
	padding: 3px 3px;
	overflow-y: visible;
	height: 91%;
	min-height: 300px;
	text-align: right;
    overflow: auto;
}

#bCreateProject {
	color:#2D6F9C;
	cursor: pointer;
	text-decoration: underline;
	font-size: 12px;
	padding: 3px 15px;
	margin-top: 2px;
}

#bCreateProject:hover {
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	background-color: #ffffe0;
	font-weight: bold;
	padding: 1px 15px 2px 15px;
}

.projectWrapper {
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	padding: 2px 3px;
	background-color: #eee8aa;
	margin: 2px;
}

.projectName {
	float: left;
	color:#2D6F9C;
	margin-left: 5px;
	margin-top: 4px;
	padding: 1px;
	text-decoration: underline;
    cursor: pointer;
    max-width: 200px;
}

.projectEntry span:hover {
	font-weight: bold;
    background-color: #ffffe0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.operationalButton {
	padding: 1px;
	margin: 3px 5px;
	cursor: pointer;
}

.operationalButton:hover {
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	border-style: ridge;
	margin: 0px 2px;
	background: gray;
}

.fileList {
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	margin-bottom: 3px;
	margin-left: 2px;
	background-color: white;
    padding: 1px 2px;
}

.entryImage {
	padding: 1px;
	margin: 3px 5px;
	float: left;
}

.codeWrapper {
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	padding: 2px 2px 2px 0px;
	background-color: #C0C0C0;
	margin :1px 0px;
}

.fileName {
	float: left;
	color:#2D6F9C;
	margin-top: 2px;
	margin-left: 5px;
	padding: 1px 0px;
	text-decoration: underline;
    cursor: pointer;
    max-width: 200px;
}

.fileEntry span:hover {
	font-weight: bold;
    background-color: #ffffe0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.dirWrapper {
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	padding: 2px 2px 2px 0px;
	background-color: #FFCC99;
	margin :1px 0px;
}

.dirEntry span:hover {
	font-weight: bold;
    background-color: #ffffe0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.dirName {
	float: left;
	color:#2D6F9C;
	margin-top: 2px;
	margin-left: 5px;
	padding: 1px 0px;
	text-decoration: underline;
    cursor: pointer;
    max-width: 200px;
}

.templateWrapper {
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	padding: 2px 2px 2px 0px;
	background-color: lightgreen;
	margin :1px 0px;
}

.templateEntry span:hover {
	font-weight: bold;
    background-color: #ffffe0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.templateName {
	float: left;
	color:#2D6F9C;
	margin-top: 2px;
	margin-left: 5px;
	padding: 1px 0px;
	text-decoration: underline;
    cursor: pointer;
    max-width: 200px;
}

.imageWrapper {
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	padding: 2px 2px 2px 0px;
	background-color: #B0C4DE;
	margin :1px 0px;
}

.imageEntry span:hover {
	font-weight: bold;
    background-color: #ffffe0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.imageName {
	float: left;
	color:#2D6F9C;
	margin-top: 2px;
	margin-left: 5px;
	padding: 1px 0px;
	text-decoration: underline;
    cursor: pointer;
    max-width: 200px;
}

.miscWrapper {
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	padding: 2px 2px 2px 0px;
	margin :1px 0px;
}

.miscEntry span:hover {
	font-weight: bold;
    background-color: #ffffe0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.miscName {
	float: left;
	color:#2D6F9C;
	margin-top: 2px;
	margin-left: 5px;
	padding: 1px 0px;
	text-decoration: underline;
    cursor: pointer;
    max-width: 200px;
}

/*-- elements of the main work area */
#workbench {
	float: left;
	-moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    margin-left: 0.5%;
	width: 74.7%;
	min-width: 370px;
	height: 97%;
	min-height: 400px;
}

/*---- for the tabs*/
.ui-corner-all {
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.ui-tabs .ui-tabs-nav li {
	border-bottom-width:0 !important;
	float:left;
	margin:0 0.2em -1px 0;
	padding:3px 0 0;
	position:relative;
}


.ui-tabs .ui-tabs-nav li a {
	float: left;
	margin: 0 10px;
	padding: 1px 10px;
	text-decoration: none;
}

.ui-widget-content {
    border: 1px solid black;
    font-size: 12px;
}

.workbenchTab {
	font-weight: bold;
	font-size: 14px;
}

.workbenchLayer {
    height: 91%;
}

/*---- for the for the code editor */
#importNameTipDiv {
    margin: 2px 0 -12px 0;
}

/*---- for the template wizard */
#templateLayer {
	text-align: left;
    overflow: auto;
}

.templateSection {
	margin: 5px 0px;
	border: 1px solid black;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.templateSectionHeader {
	font-size: 14px;
	font-weight: bold;
    background-color: #97A0A8;
	padding: 3px 0px 0px 10px;
    color: white;
}

.templateSectionHeader a{
    color: white;
	cursor: pointer;
}

.templateSectionHeader a:hover{
	color:#2D6F9C;
}

.templateSectionWizard {
	font-size: 12px;
	padding: 5px 10px;
    width: 98%;
    text-align: center;
    overflow: auto;
}

.infoTip {
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	padding: 3px 0 3px 10px;
	font-size: 12px;
    background-color: #E6F4B2;
	border:1px solid #9CC701;
}

#tipHTMLURL {
    width: 98.5%;
    text-align: left;
    margin-top: 2px;
}

.templateCommonInput {
	font-size: 12px;
	width: 100px;
}

.templateSizeInput {
    font-size: 12px;
	width: 50px;
}

.templateCodeInput {
    font-size: 12px;
	width: 73.7%;
}

.tAddButton {
	top: 8px;
	position: relative;
}

#templateLayer span {
	margin: 2px 3px;
}

.descriptionTable {
    font-size: 12px;
    border-collapse: collapse;
	padding: 2px;
    width: 100%;
}

.descriptionTable span{
    width: 100%;
}

.descriptionTable input{
    width: 100%;
}

.varTable {
    width: 100%;
	font-size: 10px;
	border-collapse: collapse;
	padding: 2px;
    margin: 0 0 5px 0;
}

.varTable thead {
    width: 100%;
}

.varTable tbody {
    width: 100%;
}

.varTable thead th {
	font-weight: bold;
	text-align: center;
    background-color: #E6F4B2;
    border: 1px solid #9CC701;
    width: 14%;
}

.varTable tbody tr td {
	border: 1px solid #9CC701;
    background-color: #E6F4B2;
	padding: 0 10px;
}

.innerTable {
    width: 100%;
	font-size: 10px;
	border-collapse: collapse;
	padding: 2px;
    margin: 2px;
}

.newVarSection {
	border: 1px solid black;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.newVarTitle {
	font-size: 12px;
	font-weight: bold;
    background-color: #97A0A8;
	padding: 3px 0px 0px 10px;
    color: white;
}

.newVarContent {
    padding: 0 3px 5px 3px;
}

#templateButtons {
	text-align: center;
	font-size: 12px;
	cursor: pointer;
}

/*---- deployer tab styles */
#deploySelectContainer {
    float: left;
    margin: 1%;
    width: 48%;
    font-weight: bold;
    font-size: 12px;
}

#deploySelectContainer input{
    width: 180px;
}

#deploySelectContainer select{
    width: 180px;
}

#bDeployGadget {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    float: left;
    text-decoration: underline;
    color: #2D6F9C;
    margin: 42px 0 0 15%;
    background: lightgray;
    padding: 5px 10px;
    cursor: pointer;
    width: 13%;
}

#bDeployGadget:hover {
    background: darkgray;
    font-weight: bold;
}

#deployerLogContainer {
    border: 1px solid black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    height: 81%;
    padding: 0 5px 5px 5px;
}

#deployLogger {
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #06508B;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#deployerLogContainer legend {
    font-weight: bold;
    font-size: 14px;
}

#oEzWebLogo {
    position: relative;
    top: 50%;
    margin-top: -18px;
}

#oEzWeb {
    width: 100%;
    height: 100%;
}

/*---- image tab styles */
#imgSelectorContainer {
    float: left;
    font-weight: bold;
    width: 100%;
}

#addImageButton:hover {
    margin: 0 0 0 88px;
    background: lightgray;
    padding: 5px 10px;
    font-weight: bold;
}

#mainImageContainer {
    margin: 5px 0px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: black solid 1px;
    height: 62%;
}

#mainImage {
    float: left;
    margin: 5px 5px 0 5px;
    height: 92%;
    width: 61%;
}

#imageColumn {
    float: left;
    height: 91%;
    width: 37%;
    text-align: left;
    margin-top: 5px;
}

#imageColumn fieldset{
    margin: 0 5px 5px;
    border: black solid 1px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#imageColumn fieldset legend {
    font-weight: bold;
    font-size: 14px;
}

#imageColumn fieldset p {
    margin-bottom: 5px;
}

#imageColumn fieldset .imgPropertyName {
    font-weight: bold;
}

#imageGalleryContainer {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	border: black solid 1px;
    height: 30.5%;
    min-height: 140px;
}

#imageGallery {
    overflow: auto;
    max-height: 86.5%;
    width: auto;
}

.imageSectionTitle {
    font-size: 14px;
    font-weight: bold;
    color: white;
    background: #97A0A8 none repeat scroll 0 0;
    text-align: left;
    height: 20px;
    padding: 3px 0 0 10px;
}

.imageThumb {
    cursor: pointer;
    height: 84.5%;
    min-height: 126px;
    padding: 0 8px;
    float: left;
    margin-top: 0.4%;
    margin-left: 8px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#imageGallery div:hover {
    background-color: #EEE8AA;
}
