<html>
<head>
    <link rel="stylesheet" type="text/css" media="screen,projection" href="{{ mediaRoot }}css/Login.css" />

    <title>EzWeb IDE & Deployer Login</title>
</head>
<body class="login">
	<div id="banner">
        <img id="logo" alt="IDE de gadgets de EzWeb" src="{{ mediaRoot }}images/logoIDE.png"/>
    </div>
	<div id="mainPanel">
        <div id="header">Log in to use IDE & Deployer</div>
        <form method="post" action="{% url IDE_Deployer.views.do_login %}">
        <table>
        <tr>
            <td>Username:</td>
            <td><input type="text" name="username" id="id_username" />
</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="password" id="id_password" /></td>
        </tr>
        </table>

        <input type="submit" value="Log in >>" />
        </form>
        <div id="errorDiv">{{ errorMsg }}</div>
    </div>
</body>
</html>

